<tr id="entry-<%= entry.id %>">
  <td>
    <%= entry.ended_at.to_date %>
  </td>
  <td>
    <%= link_to entry.description, "javascript:void(0)", data: {toggle: "modal", target: "#edit_entry_#{entry.id}"} %>
  </td>
  <td class="text-center">
    <%= entry.project.name %>
  </td>
  <td class="text-center">
    <%= entry.invoice&.number || "<small class='text-muted'>unassigned</small>".html_safe %>
  </td>
  <td class="text-center">
    <% if entry.development? %>
      <%= link_to "development", entry_path(entry), class: "badge badge-success", data: {method: :patch, remote: true, params: "entry[type]=maintenance"} %>
    <% end %>
    <% if entry.maintenance? %>
      <%= link_to "maintenance", entry_path(entry), class: "badge badge-secondary", data: {method: :patch, remote: true, params: "entry[type]=development"} %>
    <% end %>
  </td>
  <td class="text-center">
    <%= link_to "#{entry.hours}", "javascript:void(0)", data: {toggle: "modal", target: "#edit_entry_#{entry.id}"} %>
  </td>
</tr>
