<%= form_for entry, html: {class: "modal", tabindex: -1, role: "dialog"}, data: {remote: true} do |form| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <% if entry.new_record? %>
            Nowy wpis
          <% else %>
            Edytuj wpis
          <% end %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><%= octicon "x" %></span>
        </button>
      </div>
      <div class="modal-body">
        <%= form.hidden_field :exact, value: "1" %>

        <% if entry.new_record? %>
          <div class="form-group">
            <%= form.label :ended_at, class: "form-label" %>
            <%= form.date_field :ended_at, min: "2020-01-01", max: "2020-12-31", class: "form-control", autocomplete: "off" %>
            <%= bootstrap_invalid_feedback_for(form.object, :ended_at) %>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_area :description, class: "form-control", autocomplete: "off" %>
          <%= bootstrap_invalid_feedback_for(form.object, :description) %>
        </div>

        <div class="form-group">
          <%= form.label :hours, class: "form-label" %>
          <%= form.number_field :hours, class: "form-control", step: 0.5, min: 0, autocomplete: "off" %>
          <%= bootstrap_invalid_feedback_for(form.object, :hours) %>
        </div>

        <div class="form-group">
          <%= form.label :project_id, class: "form-label" %>
          <%= form.collection_select :project_id, @projects, :id, :name, {prompt: true}, class: "form-control custom-select", autocomplete: "off" %>
          <%= bootstrap_invalid_feedback_for(form.object, :project) %>
        </div>

        <div class="form-group">
          <%= form.label :type, class: "form-label" %>
          <div class="form-check">
            <%= form.radio_button :type, "development", class: "form-check-input" %>
            <%= form.label :type_development, class: "form-check-label" do %>
              <span class="badge badge-success">programowanie</span>
            <% end %>
          </div>
          <div class="form-check">
            <%= form.radio_button :type, "maintenance", class: "form-check-input" %>
            <%= form.label :type_maintenance, class: "form-check-label" do %>
              <span class="badge badge-secondary">utrzymanie</span>
            <% end %>
          </div>
          <%= bootstrap_invalid_feedback_for(form.object, :type) %>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "Usuń", entry_path(form.object), class: "btn btn-danger", data: {method: :delete, confirm: "Czy na pewno usunąć ten wpis?", remote: true} if form.object.persisted? %>
        <%= form.submit "Zapisz", class: "btn btn-primary" %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
      </div>
    </div>
  </div>
<% end %>
