<%= render partial: "entries/form", collection: @entries, as: :entry %>

<table class="table table-hover table-sm" id="entries">
  <thead>
    <tr>
      <th>
        Data
        <span class="hover-only"><%= octicon "pencil" %></span>
      </th>
      <th>
        Opis
        <span class="hover-only"><%= octicon "pencil" %></span>
      </th>
      <th class="text-center">
        Projekt
        <span class="hover-only"><%= octicon "pencil" %></span>
      </th>
      <th class="text-center">
        Faktura
        <span class="hover-only"><%= octicon "pencil" %></span>
      </th>
      <th class="text-center">
        Typ
        <span class="hover-only"><%= octicon "pencil" %></span>
      </th>
      <th class="text-right">
        Liczba godzin
        <span class="hover-only"><%= octicon "pencil" %></span>
      </th>
    </tr>
  </thead>
  <% if @entries.count > 0 %>
    <tbody>
      <%= render @entries %>
    </tbody>
  <% else %>
    <tr>
      <td colspan="6" class="text-center text-muted">Nie masz żadnych wpisów</td>
    </tr>
  <% end %>
</table>
