<div class="row my-3">
  <div class="col w-25">
    <h2>
      Wpisy
    </h2>
  </div>
  <%= search_form_for @q, url: entries_path, method: :get, remote: true, class: "col" do |form| %>
    <div class="form-row">
      <div class="col">
        <%= link_to "Nowy", "javascript:void(0)", type: "button", class: "btn btn-success btn-block", data: {toggle: "modal", target: "#new_entry"} %>
      </div>
      <div class="col">
        <%= link_to "Przelicz", calculate_entries_path, type: "button", class: "btn btn-warning btn-block", data: {method: :put, disable_with: "Calculating…", remote: true} %>
      </div>
      <div class="col">
        <%= form.collection_select :project_id_eq, Project.all, :id, :name, {include_blank: "Dowolny projekt"}, class: "form-control", placeholder: "Szukaj…", autocomplete: "off", oninput: "Rails.fire(this.form, 'submit')" %>
      </div>
      <div class="col">
        <%= form.collection_select :invoice_id_eq, Invoice.all, :id, :number, {include_blank: "Dowolna faktura"}, class: "form-control", placeholder: "Szukaj…", autocomplete: "off", oninput: "Rails.fire(this.form, 'submit')" %>
      </div>
      <div class="col">
        <%= form.search_field :description_cont, class: "form-control", placeholder: "Szukaj…", autocomplete: "off" %>
      </div>
      <div class="col">
        <%= form.date_field :ended_on, class: "form-control", autocomplete: "off", value: form.object.ended_on %>
      </div>
      <div class="col">
        <%= form.submit "Filtruj", class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
</div>

<%= render "form", entry: @entry %>
<%= render "table" %>

<%= paginate @entries %>
