<div class="row my-3">
  <div class="col">
    <h2>
      Entries
    </h2>
  </div>
  <%= search_form_for @q, url: entries_path, method: :get, remote: true, class: "col" do |form| %>
    <div class="form-row">
      <div class="col">
        <%= link_to "New", "javascript:void(0)", type: "button", class: "btn btn-success btn-block", data: {toggle: "modal", target: "#new_entry"} %>
      </div>
      <div class="col">
        <%= link_to "Calculate", calculate_entries_path, type: "button", class: "btn btn-warning btn-block", data: {method: :put, disable_with: "Calculating…", remote: true} %>
      </div>
      <div class="col">
        <%= form.collection_select :project_id_eq, Project.all, :id, :name, {include_blank: "Any Project"}, class: "form-control", placeholder: "Search…", autocomplete: "off", oninput: "Rails.fire(this.form, 'submit')" %>
      </div>
      <div class="col">
        <%= form.collection_select :invoice_id_eq, Invoice.all, :id, :number, {include_blank: "Any Invoice"}, class: "form-control", placeholder: "Search…", autocomplete: "off", oninput: "Rails.fire(this.form, 'submit')" %>
      </div>
      <div class="col">
        <%= form.search_field :description_cont, class: "form-control", placeholder: "Search…", autocomplete: "off" %>
      </div>
    </div>
  <% end %>
</div>

<%= render "form", entry: @entry %>
<%= render "table" %>
