<% if @invoice.present? %>
  <% invoiced_hours = @invoice.hours %>
  <% logged_hours = @invoice.entries.sum(:hours) %>

  <div class="alert <%= "alert-success" if invoiced_hours == logged_hours %> <%= "alert-warning" if invoiced_hours > logged_hours %> <%= "alert-danger" if invoiced_hours < logged_hours %>" role="alert">
    Faktura <%= @invoice.number %> -  zafakturowano: <%= invoiced_hours %>h, zalogowano: <%= logged_hours %>h
  </div>
<% end %>

<div class="my-3">
  <%= search_form_for @q, url: entries_path, method: :get, remote: true do |form| %>
    <div class="d-flex flex-row">
      <div class="flex-fill mr-1">
        <%= form.search_field :description_cont, class: "form-control form-control-sm", placeholder: "Opis", autocomplete: "off" %>
      </div>
      <div class="mr-1">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <%= link_to entries_path(q: params.fetch(:q, {}).to_unsafe_h.merge(day_eq: form.object.day_eq&.advance(days: -1))), class: "btn btn-sm btn-secondary #{'disabled' if form.object.day_eq.blank?}" do %>
              <i class="fa fa-chevron-left"></i>
            <% end %>
          </div>
          <%= form.date_field :day_eq, class: "form-control form-control-sm", autocomplete: "off", value: form.object.day_eq, min: "2019-01-01", max: "2019-12-31" %>
          <div class="input-group-append">
            <%= link_to entries_path(q: params.fetch(:q, {}).to_unsafe_h.merge(day_eq: form.object.day_eq&.advance(days: 1))), class: "btn btn-sm btn-secondary #{'disabled' if form.object.day_eq.blank?}" do %>
              <i class="fa fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mr-1">
        <%= form.collection_select :project_id_eq, @projects, :id, :name, {include_blank: "Dowolny projekt"}, class: "form-control form-control-sm", autocomplete: "off", oninput: "Rails.fire(this.form, 'submit')" %>
      </div>
      <div class="mr-1">
        <%= form.collection_select :invoice_id_eq, @invoices, :id, :number, {include_blank: "Dowolna faktura"}, class: "form-control form-control-sm", autocomplete: "off", oninput: "Rails.fire(this.form, 'submit')" %>
      </div>
      <div class="mr-1">
        <%= form.submit "Filtruj", class: "btn btn-primary btn-sm btn-block" %>
      </div>
      <div class="">
        <%= link_to entries_path, type: "button", class: "btn btn-secondary btn-sm btn-block", data: {remote: true} do %>
          <i class="fa fa-times"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= render "form", entry: @entry %>
<%= render "update_entries_form", update_entries_form: @update_entries_form %>
<%= render "table" %>

<div class="d-flex justify-content-between">
  <div>
    <%= paginate @entries %>
  </div>
  <div class="text-right">
    <%= link_to "javascript:void(0)", type: "button", class: "btn btn-warning", data: {toggle: "modal", target: "#new_update_entries_form"} do %>
      Zmień <%= t("entry_count", count: @entries.total_count) %>
    <% end %>
    <%= link_to "Dodaj nowy wpis", "javascript:void(0)", type: "button", class: "btn btn-success", data: {toggle: "modal", target: "#new_entry"} %>
  </div>
</div>
