<tr id="invoice-<%= invoice.id %>" class="<%= invoice_row_classes(invoice) %>">
  <td>
    <%= link_to invoice.number, "javascript:void(0)", data: {toggle: "modal", target: "#edit_invoice_#{invoice.id}"} %>
  </td>
  <td class="text-center">
    <%= invoice.from %> &mdash; <%= invoice.to %>
  </td>
  <td class="text-right">
    <%= invoice.hours %>
  </td>
  <td class="text-right">
    <%= invoice.entries.sum(:hours) %>
  </td>
  <td class="text-right">
    <%= number_to_percentage(invoice.ratio * 100, precision: 0) %>
  </td>
  <td class="text-right">
    <%= link_to "Ewidencja", invoice_path(invoice), class: "btn btn-sm btn-info" %>
  </td>
</tr>
