<tr id="invoice-<%= invoice.id %>" class="<%= invoice_row_classes(invoice) %>">
  <td>
    <%= link_to invoice.number, invoice_path(invoice) %>
  </td>
  <td class="text-center">
    <%= invoice.from %> &mdash; <%= invoice.to %>
  </td>
  <td class="text-right">
    <%= invoice.hours %>
  </td>
  <td class="text-right">
    <%= invoice.entries.sum(:hours) %>
  </td>
  <td class="text-right">
    <%= number_to_percentage(invoice.ratio * 100, precision: 0) %>
  </td>
</tr>
