<div class="row my-3">
  <div class="col">
    <h2>
      Faktura <%= @invoice.number %>
    </h2>
  </div>
  <div class="col d-print-none text-right">
    <%= link_to "Eksportuj do CSV", invoice_path(format: :csv), class: "btn btn-info" %>
    <a href="javascript:window.print()" class="btn btn-info">Drukuj ewidencję</a>
  </div>
</div>

<table class="table table-hover" id="entries">
  <thead>
    <tr>
      <th class="text-center">
        Date
      </th>
      <th class="text-center">
        Description
      </th>
      <th class="text-center">
        Project
      </th>
    </tr>
  </thead>
  <tbody>
    <% @entries_by_day.each do |day, entries| %>
      <% if entries.present? %>
        <% entries.each.with_index do |entry, i| %>
          <tr>
            <% if i.zero? %>
              <td rowspan="<%= entries.size %>" class="text-center align-middle">
                <div>
                  <%= l day, format: "%A, %-d %B %Y" %>
                </div>
              </td>
            <% end %>
            <td>
              <%= render "entries/form", entry: entry %>
              <%= link_to entry.description, "javascript:void(0)", data: {toggle: "modal", target: "#edit_entry_#{entry.id}"}, class: "d-print-none" %>
              <span class="d-none d-print-block"><%= entry.description %></span>
            </td>
            <td class="text-center">
              <%= entry.project.name %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
