<div class="row my-3">
  <div class="col">
    <h2>
      Faktura <%= @invoice.number %>
    </h2>
  </div>
</div>

<table class="table table-sm" id="entries">
  <thead>
    <tr>
      <th class="text-center">Data</th>
      <th class="text-center">Opis</th>
      <th class="text-center">Typ</th>
      <th class="text-right">Liczba godzin</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice.period.each do |day| %>
      <% entries = @invoice.entries.by_day(day) %>
      <% total_hours = entries.sum(:hours) %>
      <% if entries.present? %>
        <% entries.each.with_index do |entry, i| %>
          <tr>
            <% if i.zero? %>
              <td rowspan="<%= entries.size %>" class="text-center align-middle">
                <div>
                  <%= l day, format: "%A, %-d %B %Y" %>
                </div>
                <div>
                  <%= entries.sum(:hours) %> godzin
                </div>
              </td>
            <% end %>
            <td>
              <%= render "entries/form", entry: entry %>
              <%= link_to entry.description, "javascript:void(0)", data: {toggle: "modal", target: "#edit_entry_#{entry.id}"} %>
            </td>
            <td class="text-center">
              <% if entry.development? %>
                programowanie
              <% end %>
              <% if entry.maintenance? %>
                utrzymanie
              <% end %>
            </td>
            <td class="text-right">
              <%= entry.hours %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
