<tr id="project-<%= project.id %>">
  <td>
    <%= link_to project.name, "javascript:void(0)", data: {toggle: "modal", target: "#edit_project_#{project.id}"} %>
    <span class="hover-only"><%= octicon "pencil" %></span>
  </td>
  <td class="text-center">
    <%= link_to project.entries.count, entries_path(q: {project_id_eq: project.id}) %>
    <span class="hover-only"><%= octicon "search" %></span>
  </td>
  <td class="text-center">
    <%= project.entries.sum(:hours) %>
  </td>
  <td class="text-right">
    <% if project.entries.empty? %>
      <%= link_to "Importuj wpisy", edit_project_path(project), class: "btn btn-warning btn-sm" %>
    <% end %>
  </td>
</tr>
