<div class="row my-3">
  <div class="col">
    <h2>
      Importuj wpisy
    </h2>
  </div>
</div>

<p>
  Proszę wywołać następujące polecenie wewnątrz repozytorium
  importowanego projektu (cała linia jako jedno polecenie):
</p>

<p>
  <code>
git log --author <%= @user.email %> --no-merges --after=2018-12-31 --before=2020-01-01 --pretty="format:%H %aI %s" | curl -X POST <%= import_project_url(@project.uuid) %> --data-urlencode @-
  </code>
</p>

<p>
  W razie problemów z importem sprawdź, czy adres email którego użyłeś
  do rejestracji w serwisie pokrywa się z tym, którego używasz w
  Git.
</p>

<p class="my-3">
  lub
</p>

<%= form_for @project, url: upload_project_path(@project), html: {method: :put, remote: true} do |form| %>
  <div class="form-group">
    <%= form.label :file, "Załaduj kalendarz (zip)" %>
    <%= form.file_field :file, class: "form-control-file", accept: "application/zip", oninput: "Rails.fire(this.form, 'submit')" %>
  </div>
<% end %>

<div class="my-3" data-controller="imports" data-imports-project-id="<%= @project.id %>">
  <div data-target="imports.awaiting">
    <%= button_tag class: "btn btn-success", disabled: true do %>
      <span class="spinner-border spinner-border-sm" role="status"></span>
      Oczekiwanie na wpisy…
    <% end %>
  </div>

  <div data-target="imports.complete" class="d-none">
    <p>
      Pomyślnie zaimportowano <span data-target="imports.entries">0</span> wpisów.
    </p>
    <p>
      <%= link_to "Przeglądaj wpisy", entries_path(q: {project_id_eq: @project.id}), class: "btn btn-success" %>
    </p>
  </div>
</div>
