<!DOCTYPE html>
<html>
  <head>
    <title>IP Box</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to "IP Box", root_path, class: "navbar-brand" %>

        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Projekty", projects_path, class: "nav-link #{'active' if controller_path.starts_with?('projects')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Wpisy", entries_path, class: "nav-link #{'active' if controller_path.starts_with?('entries')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Faktury", invoices_path, class: "nav-link #{'active' if controller_path.starts_with?('invoices')}" %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
